@import 'themes/themeDark.scss';
@import 'themes/themeWhite.scss';

@include angular-material-theme($dark-theme);

.other-theme {
    @include angular-material-theme($white-theme);
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $accent-color;
}
